{% extends "core/header.html" %}

{% block content %}  
<body>  
    <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-dark">  
        <tr>  
            <th>Name</th>  
            <th>Phonenumber</th>  
            <th>Actions</th>
        </tr>  
        </thead>  
        <tbody>  
        {% for record in records %}  
            <tr>  
                <td>{{ record.name }}</td>  
                <td>{{ record.phonenumber }}</td>  
                <td>  
                    <a href="/edit/{{ record.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
                    <a href="/delete/{{ record.id }}">Delete</a>  
                </td>  
            </tr>  
        {% endfor %}  
        </tbody>  
    </table>  
    <br>  
    <br>  
    <center><a href="/new" class="btn btn-primary">Add New Record</a></center>  
</body>  
</html>  

{% endblock content %}